

[fan_generic bedfans]
pin: PE5
#cycle_time: 0.05
max_power: 1.0
kick_start_time: 0.250
off_below: 0.30
hardware_pwm: True
cycle_time: 0.001

# Recirculating carbon filter (example: Nevermove v5, etc...)
[gcode_macro _USER_VARIABLES]
variable_filter_enabled: True
variable_filter_name: "bedfans"
gcode:


[gcode_macro START_BEDFANS]
gcode:
    {% set SPEED = params.SPEED|default(1)|float %}

    {% set filter_name = printer["gcode_macro _USER_VARIABLES"].filter_name %}
    SET_FAN_SPEED FAN={filter_name} SPEED={SPEED}


[gcode_macro STOP_BEDFANS]
gcode:
    {% set filter_name = printer["gcode_macro _USER_VARIABLES"].filter_name %}
    SET_FAN_SPEED FAN={filter_name} SPEED=0


[delayed_gcode _STOP_BEDFANS_DELAYED]
gcode:
    STOP_BEDFANS






