
[fan_generic nevermore]
pin: PA8
max_power: 1.0
kick_start_time: 0.250
off_below: 0.30
# hardware_pwm: True
# cycle_time: 0.001


# Recirculating carbon filter (example: Nevermove v5, etc...)
[gcode_macro _USER_VARIABLES]
variable_filter_enabled: True
variable_filter_name: "nevermore"
gcode:

[gcode_macro START_NEVERMORE]
gcode:
    {% set SPEED = params.SPEED|default(1)|float %}

    {% set filter_name = printer["gcode_macro _USER_VARIABLES"].filter_name %}
    SET_FAN_SPEED FAN={filter_name} SPEED={SPEED}


[gcode_macro STOP_NEVERMORE]
gcode:
    {% set filter_name = printer["gcode_macro _USER_VARIABLES"].filter_name %}
    SET_FAN_SPEED FAN={filter_name} SPEED=0


[delayed_gcode _STOP_NEVERMORE_DELAYED]
gcode:
    STOP_NEVERMORE



[gcode_macro FILTER_AIR]
#description: Activates air filtering if temperatures exceed PLA thresholds gcode.
gcode:
 {% set pla_max_bed = 70 %}
 {% set bed_temp = printer.heater_bed.temperature|float %}


# Check if temperatures exceed PLA thresholds 
 {% if bed_temp > pla_max_bed %}
 M117 Filtering Air - High Temp Detected 
 START_NEVERMORE
 G4 P300000 #wait 10 minutes (600,000 ms) for filtering
 {% else %}
 M117 No Filtering Needed - Temps Within PLA Range
 {% endif %}
 STOP_NEVERMORE





